# Core Framework
streamlit==1.28.1
langgraph

# Google Gemini (new SDK)
google-genai

# Data Validation
pydantic

# Supabase
supabase

# Auth & HTTP
PyJWT==2.3.0
requests==2.33.1
requests-toolbelt==1.0.0

# Env & Utils
python-dotenv
pyparsing==3.3.2
PyPDF2==3.0.1
python-docx
huggingface_hub
fastapi
uvicorn[standard]
python-multipart
langfuse